#             Real state house prediction

In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv("data.csv")

In [3]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [5]:
housing["CHAS"].value_counts()

0    471
1     35
Name: CHAS, dtype: int64

In [6]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

##  For ploting histogram

In [7]:
# %matplotlib inline
# import matplotlib.pyplot as plt
# housing.hist(bins=50,figsize=(20,15))

In [8]:
# for learning purpose
# def split_train_test(data,test_ratio):
#     np.random.seed(42)
#     suffled=np.random.permutation(len(data))
#     test_set_size = int(len(data)* test_ratio)
#     test_indices = suffled[:test_set_size]
#     train_indices = suffled[test_set_size :]
#     return data.iloc[train_indices], data.iloc[test_indices]

In [9]:
# train_set , test_set = split_train_test(housing,0.2)

In [10]:
# print(f"Rows of train data : {len(train_set)}\nRows of test data : {len(test_set)}")

## For train test split

In [11]:
import numpy as np
from sklearn.model_selection import train_test_split 
train_set , test_set = train_test_split(housing , test_size=0.2, random_state =42)
print(f"Rows of train data : {len(train_set)}\nRows of test data : {len(test_set)}")

Rows of train data : 404
Rows of test data : 102

In [12]:
from sklearn.model_selection import StratifiedShuffleSplit 
split = StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)
for train_index , test_index in split.split(housing,housing["CHAS"]):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

In [13]:
strat_train_set['CHAS'].value_counts()

0    376
1     28
Name: CHAS, dtype: int64

In [14]:
strat_test_set['CHAS'].value_counts()

0    95
1     7
Name: CHAS, dtype: int64

In [15]:
housing  = strat_train_set.copy()

## looking for correlation

In [16]:
# corr_matrix = housing.corr()
# corr_matrix["MEDV"].sort_values(ascending=False)

## Plotting matrix graph

In [17]:
# from pandas.plotting import scatter_matrix
# attributes = ['MEDV',"RM", "ZN", 'LSTAT']
# scatter_matrix(housing[attributes], figsize =(12,10) ,alpha=0.9)

In [18]:
# housing.plot(kind = "scatter", x="RM", y="MEDV", alpha=0.9)

# Trying out attributes combination

In [19]:
# housing["TAXRM"] = housing["TAX"]/housing["RM"]
# housing['TAXRM']

In [20]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
254,0.04819,80.0,3.64,0,0.392,6.108,32.0,9.2203,1,315,16.4,392.89,6.57,21.9
348,0.01501,80.0,2.01,0,0.435,6.635,29.7,8.3440,4,280,17.0,390.94,5.99,24.5
476,4.87141,0.0,18.10,0,0.614,6.484,93.6,2.3053,24,666,20.2,396.21,18.68,16.7
321,0.18159,0.0,7.38,0,0.493,6.376,54.3,4.5404,5,287,19.6,396.90,6.87,23.1
326,0.30347,0.0,7.38,0,0.493,6.312,28.9,5.4159,5,287,19.6,396.90,6.15,23.0

In [21]:
corr_matrix = housing.corr()
corr_matrix["MEDV"].sort_values(ascending=False)

MEDV       1.000000
RM         0.679894
B          0.361761
ZN         0.339741
DIS        0.240451
CHAS       0.205066
AGE       -0.364596
RAD       -0.374693
CRIM      -0.393715
NOX       -0.422873
TAX       -0.456657
INDUS     -0.473516
PTRATIO   -0.493534
LSTAT     -0.740494
Name: MEDV, dtype: float64

In [22]:
# housing.plot(kind = "scatter", x="TAXRM", y="MEDV", alpha=0.9)

In [23]:
housing = strat_train_set.drop(['MEDV'],axis=1)
housing_lebeles = strat_train_set['MEDV'].copy()

## Missing Attributes

In [24]:
# method to dealwith missing attributes there are three option
# 1. Get rid of the missing data ponts
# 2. Get rid of the whole attributs
# 3. Set the value to some value(0, mean or median)

In [25]:
a= housing.dropna(subset=['RM']) #option 1
a.shape
# Note that the original housing data will remian unchanged

(404, 13)

In [26]:
housing.drop(['RM'],axis=1).shape # option 2
# Note that there is no RM column and also the original housing data will remian unchanged

(404, 12)

In [27]:
median = housing['RM'].median() # optoion 3 claculate median

In [28]:
housing["RM"].fillna(median)
# Note that the original housing data will remian unchanged

254    6.108
348    6.635
476    6.484
321    6.376
326    6.312
       ...
155    6.152
423    6.103
98     7.820
455    6.525
216    5.888
Name: RM, Length: 404, dtype: float64

In [29]:
housing.shape

(404, 13)

In [30]:
housing.describe()  #before we started filling missing attributes

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.602814,10.836634,11.344950,0.069307,0.558064,6.279908,69.039851,3.746210,9.735149,412.341584,18.473267,353.392822,12.791609
std,8.099383,22.150636,6.877817,0.254290,0.116875,0.712983,28.258248,2.099057,8.731259,168.672623,2.129243,96.069235,7.235740
min,0.006320,0.000000,0.740000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,13.000000,0.320000,1.730000
25%,0.086962,0.000000,5.190000,0.000000,0.453000,5.878750,44.850000,2.035975,4.000000,284.000000,17.400000,374.617500,6.847500
50%,0.286735,0.000000,9.900000,0.000000,0.538000,6.210000,78.200000,3.122200,5.000000,337.000000,19.000000,390.955000,11.570000
75%,3.731923,12.500000,18.100000,0.000000,0.631000,6.630250,94.100000,5.100400,24.000000,666.000000,20.200000,395.630000,17.102500
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,36.980000

In [31]:
from sklearn.impute import SimpleImputer
imputer= SimpleImputer(strategy = "median")
imputer.fit(housing)

SimpleImputer(strategy='median')

In [32]:
imputer.statistics_

array([2.86735e-01, 0.00000e+00, 9.90000e+00, 0.00000e+00, 5.38000e-01,
       6.21000e+00, 7.82000e+01, 3.12220e+00, 5.00000e+00, 3.37000e+02,
       1.90000e+01, 3.90955e+02, 1.15700e+01])

In [33]:
x=imputer.transform(housing)

In [34]:
housing_tr = pd.DataFrame(x, columns=housing.columns)

In [35]:
housing_tr.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.602814,10.836634,11.344950,0.069307,0.558064,6.279908,69.039851,3.746210,9.735149,412.341584,18.473267,353.392822,12.791609
std,8.099383,22.150636,6.877817,0.254290,0.116875,0.712983,28.258248,2.099057,8.731259,168.672623,2.129243,96.069235,7.235740
min,0.006320,0.000000,0.740000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,13.000000,0.320000,1.730000
25%,0.086962,0.000000,5.190000,0.000000,0.453000,5.878750,44.850000,2.035975,4.000000,284.000000,17.400000,374.617500,6.847500
50%,0.286735,0.000000,9.900000,0.000000,0.538000,6.210000,78.200000,3.122200,5.000000,337.000000,19.000000,390.955000,11.570000
75%,3.731923,12.500000,18.100000,0.000000,0.631000,6.630250,94.100000,5.100400,24.000000,666.000000,20.200000,395.630000,17.102500
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,36.980000

# Scikit-Learn Design

Primeery three type of objecs
1. Estimator - It Estimates some parameter based on a dataset. eg - imputer
It has a fit method and tranform method.
Fit method - Fits the dataset and calculates internal parameter 
2. Transformers - transform method takes input and return output based on the Learnings from fit(). It also has a convienient function is called fir_transform() which fits and then transforms.
3. predictors - lenearRegression model is an example of predictor. Fit() and predict() are two common functions. It also give score() which will evaluate the predictions.

# Feature Scaling

Primerly two type of method of feature scalling 
1. Min- max Scalling (Normalization) - 
                    formula = (Value - Min) / (max - min)
                    sk-learn provide a class for this - minmaxscaler 
2. Standardization - 
                    formula = (Value - mean)/Std
                    in sk learn we have a class is called- Strandard scaler

In [36]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy = "median")),
    # add as maany as you want in your pipeline
    ('std_scaler', StandardScaler()), 
])

In [37]:
housing_num_tr = my_pipeline.fit_transform(housing_tr)

In [38]:
housing_num_tr

array([[-0.43942006,  3.12628155, -1.12165014, ..., -0.97491834,
         0.41164221, -0.86091034],
       [-0.44352175,  3.12628155, -1.35893781, ..., -0.69277865,
         0.39131918, -0.94116739],
       [ 0.15682292, -0.4898311 ,  0.98336806, ...,  0.81196637,
         0.44624347,  0.81480158],
       ...,
       [-0.43525657, -0.4898311 , -1.23083158, ..., -0.22254583,
         0.41831233, -1.27603303],
       [ 0.14210728, -0.4898311 ,  0.98336806, ...,  0.81196637,
        -3.15239177,  0.73869575],
       [-0.43974024, -0.4898311 ,  0.37049623, ..., -0.97491834,
         0.41070422,  0.09940681]])

In [39]:
housing_num_tr.shape

(404, 13)

# Selecting a desire model for Dragon Real Estates

In [40]:
from sklearn.linear_model import LinearRegression #1 model
from sklearn.tree import DecisionTreeRegressor    #2 model
from sklearn.ensemble import RandomForestRegressor #3 model

# model = LinearRegression()
# model = DecisionTreeRegressor()
model = RandomForestRegressor() 
model.fit(housing_num_tr, housing_lebeles)

RandomForestRegressor()

In [41]:
some_data = housing.iloc[:5]

In [42]:
some_labels = housing_lebeles.iloc[:5]

In [43]:
prepared_data = my_pipeline.transform(some_data)

In [44]:
model.predict(prepared_data)

array([22.442, 25.213, 16.479, 23.191, 23.676])

In [45]:
list(some_labels)

[21.9, 24.5, 16.7, 23.1, 23.0]

## Evaluating the model

In [46]:
from sklearn.metrics import mean_squared_error
housing_prediction = model.predict(housing_num_tr)
mse = mean_squared_error(housing_lebeles,housing_prediction)
rmse = np.sqrt(mse)

In [47]:
rmse

1.2225546526486541

# using better Evaluation - Cross validation

In [48]:
# from sklearn.model_selection import cross_val_score
# scores = cross_val_score(model, housing_num_tr, housing_lebeles,scoring="neg_mean_squared_error",cv=10)
# rmse_scores = np.sqrt(-scores)

In [49]:
# rmse_scores

In [50]:
# def print_scores(scores):
#     print("Scores:", scores)
#     print("Mean:", scores.mean())
#     print("Std:", scores.std())

In [51]:
# print_scores(rmse_scores)

## model saving

In [52]:
from joblib import dump, load
dump(model,"realestate.joblib")

['realestate.joblib']

## model testing

In [53]:
x_test = strat_test_set.drop("MEDV",axis=1)
y_test = strat_test_set["MEDV"].copy()
# s_test_prepared = my_pipeline.transform(x_test) 
# final_prediction= model.predict(s_test_prepared)   
# final_prediction

In [54]:
# for mse 
y=imputer.transform(x_test)
housing_ts = pd.DataFrame(y, columns=x_test.columns)
housinf_num_ts = my_pipeline.fit_transform(housing_ts)
final_prediction= model.predict(housinf_num_ts)
final_mse = mean_squared_error(y_test, final_prediction)
final_rmse = np.sqrt(final_mse)

In [56]:
final_rmse

3.4424210273311666